@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(#14a973, #0c0a78);
  background-attachment: fixed;
  color: white;
  font-family: 'Inter';
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
